In [1]:
import os
os.chdir("D:\\UIT\\HK\\HK6\\IS403\\Đồ án\\Source code")
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: D:\UIT\HK\HK6\IS403\Đồ án\Source code

# Import modules

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from datetime import timedelta

In [5]:
from utils import (
    convert_str_to_datetime,
    convert_str_to_monthyear,
    convert_quarter_to_datetime,
    convert_datetime_to_quarteryear_str,
    get_quarter_from_date,
    get_quarter
)

# Load data

## CPI

In [6]:
cpi = pd.read_excel(".\\dataset\\clean_dataset\\cpi.xlsx", skiprows=1)
cpi

         Time  Value
0  2021-12-01  -0.18
1  2022-01-01   0.19
2  2022-02-01   1.00
3  2022-03-01   0.70
4  2022-04-01   0.18
5  2022-05-01   0.38
6  2022-06-01   0.69
7  2022-07-01   0.40
8  2022-08-01   0.01
9  2022-09-01   0.40
10 2022-10-01   0.15
11 2022-11-01   0.39
12 2022-12-01  -0.01
13 2023-01-01   0.52
14 2023-02-01   0.45
15 2023-03-01  -0.23
16 2023-04-01  -0.34
17 2023-05-01   0.01
18 2023-06-01   0.27
19 2023-07-01   0.45
20 2023-08-01   0.88
21 2023-09-01   1.08
22 2023-10-01   0.08
23 2023-11-01   0.25
24 2023-12-01   0.12
25 2024-01-01   0.31
26 2024-02-01   1.04
27 2024-03-01  -0.23
28 2024-04-01   0.07
29 2024-05-01   0.05
30 2024-06-01   0.17
31 2024-07-01   0.48
32 2024-08-01   0.00
33 2024-09-01   0.29
34 2024-10-01   0.33
35 2024-11-01   0.13
36 2024-12-01   0.29
37 2025-01-01   0.98
38 2025-02-01   0.34

## GDP

In [7]:
gdp = pd.read_excel(".\\dataset\\clean_dataset\\gdp.xlsx", sheet_name="GDP (2010)", skiprows=1)
gdp

       Time    Value
0   Q4 2021  1467490
1   Q1 2022  1255312
2   Q2 2022  1346821
3   Q3 2022  1376321
4   Q4 2022  1538951
5   Q1 2023  1320755
6   Q2 2023  1407473
7   Q3 2023  1450322
8   Q4 2023  1643902
9   Q1 2024  1396660
10  Q2 2024  1508387
11  Q3 2024  1561963
12  Q4 2024  1773652

## Foreign exchange rate

In [8]:
vcb_foreign_exchange_rate = pd.read_csv(".\\dataset\\clean_dataset\\foreign_exchange_rate\\vcb_foreign_exchange_rate.csv")
vcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2021-12-31,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
1,2022-01-01,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
2,2022-01-02,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
3,2022-01-03,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
4,2022-01-04,15975.54,16657.61,16136.91,17412.67,18156.10,17588.55,24187.63,25220.32,24431.95,...,191.53,202.75,193.46,16408.76,17109.33,16574.50,605.71,698.91,673.02,22610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,2025-03-27,15731.38,16399.89,15890.29,17461.25,18203.26,17637.62,28213.17,29412.09,28498.15,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
1183,2025-03-28,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1184,2025-03-29,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1185,2025-03-30,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1186,2025-03-31,15648.02,16312.99,15806.08,17386.19,18125.03,17561.81,28340.09,29544.42,28626.35,...,165.86,176.40,167.53,18576.11,19404.30,18763.75,664.95,770.20,738.84,25350.0

## Bank index

In [9]:
vcb_kqkd = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\vcb\\vcb_kqkd.csv")
vcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2024,4,23581262000000,-0.060425,8565378000000,-0.084409,10702677000000,8569921000000,66378000000
1,2024,3,23191212000000,-0.125269,8566598000000,0.178524,10698944000000,8572494000000,49396000000
2,2024,2,22862707000000,-0.206768,8119414000000,0.093844,10116275000000,8124709000000,159132000000
3,2024,1,24019660000000,-0.132547,8579996000000,-0.045228,10718239000000,8585993000000,32273000000
4,2023,4,25097791000000,-0.017087,9355026000000,-0.057739,11693497000000,9360033000000,50548000000
5,2023,3,26512406000000,0.174704,7268919000000,0.198528,9051164000000,7274556000000,146603000000
6,2023,2,28822211000000,0.394328,7422823000000,0.250275,9277682000000,7427958000000,29775000000
7,2023,1,27689870000000,0.431878,8986435000000,0.128639,11221344000000,8991901000000,39530000000
8,2022,4,25534087000000,0.423362,9928277000000,0.518134,12419095000000,9933519000000,32313000000
9,2022,3,22569428000000,0.279451,6064870000000,0.320135,7566222000000,6069444000000,127264000000
10,2022,2,20671039000000,0.158584,5936954000000,0.499191,7423087000000,5941931000000,24345000000
11,2022,1,19338145000000,0.124238,7962184000000,0.153509,9950256000000,7967426000000,24495000000
12,2021,4,17939277000000,0.045207,6539788000000,0.153907,8174561000000,6545349000000,31107000000

In [10]:
vcb_cstc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\vcb\\vcb_cstc.csv")
vcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,VCB,2024,4,0.618781,0.187316,0.0,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
1,VCB,2024,3,0.630934,0.193913,0.0,0.018586,0.0,512519668725400,5589091262,14.803708,2.694830,7.669374,-10.421608,1532.735394,34028.114605
2,VCB,2024,2,0.583807,0.195129,0.0,0.018386,0.0,510842941346800,5589091262,15.329877,2.813058,7.767334,123.346014,1452.725250,32491.336872
3,VCB,2024,1,0.609459,0.199735,0.0,0.018516,0.0,489604394551200,5589091262,15.006220,2.821707,7.363946,-3.257646,1535.132564,31045.041468
4,VCB,2023,4,0.730792,0.219739,0.0,0.018083,0.0,528728033385200,5589091262,16.005957,3.205992,7.807162,-13.718398,1673.800903,29507.243355
5,VCB,2023,3,0.577076,0.226347,0.0,0.018943,0.0,495752394939400,5589091262,14.751702,3.115219,7.039211,6.687242,1300.554716,28473.118534
6,VCB,2023,2,0.529423,0.230197,0.0,0.018477,0.0,480661848532000,5589091262,14.834141,3.164272,6.735315,10.304262,1328.091214,27178.445454
7,VCB,2023,1,0.632716,0.231573,0.0,0.017892,0.0,492181723384000,4732516571,15.919692,3.404580,7.044594,1.981862,1898.870266,30547.090925
8,VCB,2022,4,0.670401,0.244309,0.0,0.018522,0.0,418354464876400,4732516571,13.992249,3.086173,6.144787,2.280837,2097.885311,28643.893786
9,VCB,2022,3,0.443859,0.220298,0.0,0.017240,0.0,406049921791800,4732516571,15.371801,3.165160,6.315958,8.228452,1281.531699,27107.637359
10,VCB,2022,2,0.463926,0.216549,0.0,0.017014,0.0,314712351971500,4732516571,12.616499,2.560887,5.173818,4.265981,1254.502528,25967.563168
11,VCB,2022,1,0.664853,0.207517,0.0,0.016503,0.0,339794689797800,4732516571,14.794486,2.904594,5.882990,-22.191178,1682.441864,24719.462942
12,VCB,2021,4,0.613101,0.215723,0.0,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622

In [11]:
vcb_cdtc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\vcb\\vcb_cdtc.csv")
vcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2024,4,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
1,2024,3,1932361908000000,1932361908000000,1742064907000000,190297001000000,110763000000
2,2024,2,1905638840000000,1905638840000000,1723936055000000,181702785000000,105738000000
3,2024,1,1773713584000000,1773713584000000,1600099458000000,173614126000000,100556000000
4,2023,4,1839223339000000,1839223339000000,1670680015000000,168543324000000,93990000000
5,2023,3,1731305572000000,1731305572000000,1572062054000000,159243518000000,104660000000
6,2023,2,1704273133000000,1704273133000000,1552272005000000,152001128000000,98316000000
7,2023,1,1846431290000000,1846431290000000,1701772932000000,144658358000000,93744000000
8,2022,4,1814188209000000,1814188209000000,1676199767000000,137988442000000,88379000000
9,2022,3,1649664327000000,1649664327000000,1521274777000000,128389550000000,102207000000
10,2022,2,1601680964000000,1601680964000000,1478691267000000,122989697000000,97774000000
11,2022,1,1462748158000000,1462748158000000,1345670470000000,117077688000000,92420000000
12,2021,4,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000

## Trade

In [12]:
vcb_trade = pd.read_csv(".\\dataset\\clean_dataset\\trade\\vcb_trade.csv")
vcb_trade

           Time   Open   High    Low  Close   Volume
0    2022-01-04  44.74  44.97  44.18  44.74  1133800
1    2022-01-05  44.74  45.54  44.18  44.18  1603100
2    2022-01-06  44.52  45.25  44.12  44.80  1215600
3    2022-01-07  45.08  45.25  44.29  45.20   966200
4    2022-01-10  45.14  45.25  44.46  45.03  1097000
..          ...    ...    ...    ...    ...      ...
801  2025-03-25  66.50  66.60  66.20  66.20  2028100
802  2025-03-26  66.40  66.60  65.80  65.80  1507400
803  2025-03-27  65.80  65.90  65.50  65.50   901500
804  2025-03-28  65.50  65.70  64.80  64.80  1650600
805  2025-03-31  64.70  65.20  64.00  64.00  1771900

[806 rows x 6 columns]

# Process data

In [13]:
cpi.dtypes

Time     datetime64[ns]
Value           float64
dtype: object

In [14]:
gdp.dtypes

Time     object
Value     int64
dtype: object

In [15]:
vcb_foreign_exchange_rate.dtypes

Date             object
AUD_Cash        float64
AUD_Sell        float64
AUD_Transfer    float64
CAD_Cash        float64
CAD_Sell        float64
CAD_Transfer    float64
CHF_Cash        float64
CHF_Sell        float64
CHF_Transfer    float64
EUR_Cash        float64
EUR_Sell        float64
EUR_Transfer    float64
GBP_Cash        float64
GBP_Sell        float64
GBP_Transfer    float64
JPY_Cash        float64
JPY_Sell        float64
JPY_Transfer    float64
SGD_Cash        float64
SGD_Sell        float64
SGD_Transfer    float64
THB_Cash        float64
THB_Sell        float64
THB_Transfer    float64
USD_Cash        float64
dtype: object

In [16]:
vcb_trade.dtypes

Time       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [17]:
vcb_kqkd.dtypes

Năm                                                   int64
Kỳ                                                    int64
Doanh thu (đồng)                                      int64
Tăng trưởng doanh thu (%)                           float64
Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)      int64
Tăng trưởng lợi nhuận (%)                           float64
LN trước thuế                                         int64
Lợi nhuận thuần                                       int64
Cố tức đã nhận                                        int64
dtype: object

In [18]:
vcb_cstc.dtypes

CP                            object
Năm                            int64
Kỳ                             int64
Biên lợi nhuận ròng (%)      float64
ROE (%)                      float64
ROIC (%)                     float64
ROA (%)                      float64
Tỷ suất cổ tức (%)           float64
Vốn hóa (Tỷ đồng)              int64
Số CP lưu hành (Triệu CP)      int64
P/E                          float64
P/B                          float64
P/S                          float64
P/Cash Flow                  float64
EPS (VND)                    float64
BVPS (VND)                   float64
dtype: object

In [19]:
vcb_cdtc.dtypes

Năm                             int64
Kỳ                              int64
TỔNG CỘNG TÀI SẢN (đồng)        int64
TỔNG CỘNG NGUỒN VỐN (đồng)      int64
NỢ PHẢI TRẢ (đồng)              int64
VỐN CHỦ SỞ HỮU (đồng)           int64
LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ    int64
dtype: object

## CPI

In [20]:
cpi["Time"] = convert_str_to_monthyear(cpi["Time"])
cpi

       Time  Value
0   2021-12  -0.18
1   2022-01   0.19
2   2022-02   1.00
3   2022-03   0.70
4   2022-04   0.18
5   2022-05   0.38
6   2022-06   0.69
7   2022-07   0.40
8   2022-08   0.01
9   2022-09   0.40
10  2022-10   0.15
11  2022-11   0.39
12  2022-12  -0.01
13  2023-01   0.52
14  2023-02   0.45
15  2023-03  -0.23
16  2023-04  -0.34
17  2023-05   0.01
18  2023-06   0.27
19  2023-07   0.45
20  2023-08   0.88
21  2023-09   1.08
22  2023-10   0.08
23  2023-11   0.25
24  2023-12   0.12
25  2024-01   0.31
26  2024-02   1.04
27  2024-03  -0.23
28  2024-04   0.07
29  2024-05   0.05
30  2024-06   0.17
31  2024-07   0.48
32  2024-08   0.00
33  2024-09   0.29
34  2024-10   0.33
35  2024-11   0.13
36  2024-12   0.29
37  2025-01   0.98
38  2025-02   0.34

In [21]:
cpi["Time"] += 1
cpi

       Time  Value
0   2022-01  -0.18
1   2022-02   0.19
2   2022-03   1.00
3   2022-04   0.70
4   2022-05   0.18
5   2022-06   0.38
6   2022-07   0.69
7   2022-08   0.40
8   2022-09   0.01
9   2022-10   0.40
10  2022-11   0.15
11  2022-12   0.39
12  2023-01  -0.01
13  2023-02   0.52
14  2023-03   0.45
15  2023-04  -0.23
16  2023-05  -0.34
17  2023-06   0.01
18  2023-07   0.27
19  2023-08   0.45
20  2023-09   0.88
21  2023-10   1.08
22  2023-11   0.08
23  2023-12   0.25
24  2024-01   0.12
25  2024-02   0.31
26  2024-03   1.04
27  2024-04  -0.23
28  2024-05   0.07
29  2024-06   0.05
30  2024-07   0.17
31  2024-08   0.48
32  2024-09   0.00
33  2024-10   0.29
34  2024-11   0.33
35  2024-12   0.13
36  2025-01   0.29
37  2025-02   0.98
38  2025-03   0.34

In [22]:
cpi.columns = ["Time", "Previous_CPI"]
cpi

       Time  Previous_CPI
0   2022-01         -0.18
1   2022-02          0.19
2   2022-03          1.00
3   2022-04          0.70
4   2022-05          0.18
5   2022-06          0.38
6   2022-07          0.69
7   2022-08          0.40
8   2022-09          0.01
9   2022-10          0.40
10  2022-11          0.15
11  2022-12          0.39
12  2023-01         -0.01
13  2023-02          0.52
14  2023-03          0.45
15  2023-04         -0.23
16  2023-05         -0.34
17  2023-06          0.01
18  2023-07          0.27
19  2023-08          0.45
20  2023-09          0.88
21  2023-10          1.08
22  2023-11          0.08
23  2023-12          0.25
24  2024-01          0.12
25  2024-02          0.31
26  2024-03          1.04
27  2024-04         -0.23
28  2024-05          0.07
29  2024-06          0.05
30  2024-07          0.17
31  2024-08          0.48
32  2024-09          0.00
33  2024-10          0.29
34  2024-11          0.33
35  2024-12          0.13
36  2025-01          0.29
37  2025-02          0.98
38  2025-03          0.34

## GDP

In [23]:
gdp["Time"] = gdp["Time"].apply(convert_quarter_to_datetime)
gdp

         Time    Value
0  2021-10-01  1467490
1  2022-01-01  1255312
2  2022-04-01  1346821
3  2022-07-01  1376321
4  2022-10-01  1538951
5  2023-01-01  1320755
6  2023-04-01  1407473
7  2023-07-01  1450322
8  2023-10-01  1643902
9  2024-01-01  1396660
10 2024-04-01  1508387
11 2024-07-01  1561963
12 2024-10-01  1773652

In [24]:
gdp["Time"] += pd.DateOffset(months=3)
gdp

         Time    Value
0  2022-01-01  1467490
1  2022-04-01  1255312
2  2022-07-01  1346821
3  2022-10-01  1376321
4  2023-01-01  1538951
5  2023-04-01  1320755
6  2023-07-01  1407473
7  2023-10-01  1450322
8  2024-01-01  1643902
9  2024-04-01  1396660
10 2024-07-01  1508387
11 2024-10-01  1561963
12 2025-01-01  1773652

In [25]:
gdp["Time"] = gdp["Time"].apply(convert_datetime_to_quarteryear_str)
gdp

       Time    Value
0   Q1 2022  1467490
1   Q2 2022  1255312
2   Q3 2022  1346821
3   Q4 2022  1376321
4   Q1 2023  1538951
5   Q2 2023  1320755
6   Q3 2023  1407473
7   Q4 2023  1450322
8   Q1 2024  1643902
9   Q2 2024  1396660
10  Q3 2024  1508387
11  Q4 2024  1561963
12  Q1 2025  1773652

In [26]:
gdp.columns = ["Time", "Previous_GDP"]
gdp

       Time  Previous_GDP
0   Q1 2022       1467490
1   Q2 2022       1255312
2   Q3 2022       1346821
3   Q4 2022       1376321
4   Q1 2023       1538951
5   Q2 2023       1320755
6   Q3 2023       1407473
7   Q4 2023       1450322
8   Q1 2024       1643902
9   Q2 2024       1396660
10  Q3 2024       1508387
11  Q4 2024       1561963
12  Q1 2025       1773652

## Foreign exchange rate

In [27]:
vcb_foreign_exchange_rate["Date"] = convert_str_to_datetime(vcb_foreign_exchange_rate["Date"])
vcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2021-12-31,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
1,2022-01-01,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
2,2022-01-02,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
3,2022-01-03,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
4,2022-01-04,15975.54,16657.61,16136.91,17412.67,18156.10,17588.55,24187.63,25220.32,24431.95,...,191.53,202.75,193.46,16408.76,17109.33,16574.50,605.71,698.91,673.02,22610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,2025-03-27,15731.38,16399.89,15890.29,17461.25,18203.26,17637.62,28213.17,29412.09,28498.15,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
1183,2025-03-28,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1184,2025-03-29,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1185,2025-03-30,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1186,2025-03-31,15648.02,16312.99,15806.08,17386.19,18125.03,17561.81,28340.09,29544.42,28626.35,...,165.86,176.40,167.53,18576.11,19404.30,18763.75,664.95,770.20,738.84,25350.0

In [28]:
vcb_foreign_exchange_rate["Date"] = vcb_foreign_exchange_rate["Date"] + timedelta(days=1)
vcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2022-01-01,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
1,2022-01-02,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
2,2022-01-03,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
3,2022-01-04,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
4,2022-01-05,15975.54,16657.61,16136.91,17412.67,18156.10,17588.55,24187.63,25220.32,24431.95,...,191.53,202.75,193.46,16408.76,17109.33,16574.50,605.71,698.91,673.02,22610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,2025-03-28,15731.38,16399.89,15890.29,17461.25,18203.26,17637.62,28213.17,29412.09,28498.15,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
1183,2025-03-29,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1184,2025-03-30,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1185,2025-03-31,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1186,2025-04-01,15648.02,16312.99,15806.08,17386.19,18125.03,17561.81,28340.09,29544.42,28626.35,...,165.86,176.40,167.53,18576.11,19404.30,18763.75,664.95,770.20,738.84,25350.0

In [29]:
vcb_foreign_exchange_rate.columns = ["Date"] + ["Previous_" + column for column in vcb_foreign_exchange_rate.columns[1:]]
vcb_foreign_exchange_rate

,Date,Previous_AUD_Cash,Previous_AUD_Sell,Previous_AUD_Transfer,Previous_CAD_Cash,Previous_CAD_Sell,Previous_CAD_Transfer,Previous_CHF_Cash,Previous_CHF_Sell,Previous_CHF_Transfer,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-01,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
1,2022-01-02,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
2,2022-01-03,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
3,2022-01-04,16093.17,16780.26,16255.73,17424.97,18168.92,17600.98,24306.81,25344.58,24552.33,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
4,2022-01-05,15975.54,16657.61,16136.91,17412.67,18156.10,17588.55,24187.63,25220.32,24431.95,...,191.53,202.75,193.46,16408.76,17109.33,16574.50,605.71,698.91,673.02,22610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,2025-03-28,15731.38,16399.89,15890.29,17461.25,18203.26,17637.62,28213.17,29412.09,28498.15,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
1183,2025-03-29,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1184,2025-03-30,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1185,2025-03-31,15680.21,16346.53,15838.60,17420.48,18160.75,17596.44,28256.20,29456.93,28541.61,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
1186,2025-04-01,15648.02,16312.99,15806.08,17386.19,18125.03,17561.81,28340.09,29544.42,28626.35,...,165.86,176.40,167.53,18576.11,19404.30,18763.75,664.95,770.20,738.84,25350.0

## Bank index

In [30]:
def set_time(dataframe: pd.DataFrame):
    def set_time_row(row):
        if row["Kỳ"] == 4:
            row["Năm"] = int(row["Năm"] + 1)
            row["Kỳ"] = int(1)
        else:
            row["Kỳ"] = int(row["Kỳ"] + 1)
        return row

    dataframe = dataframe.apply(set_time_row, axis=1)
    dataframe["Năm"] = dataframe["Năm"].astype(int)
    dataframe["Kỳ"] = dataframe["Kỳ"].astype(int)

    return dataframe

### Kết quả kinh doanh

In [31]:
vcb_kqkd = set_time(vcb_kqkd)
vcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2025,1,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
1,2024,4,2.319121e+13,-0.125269,8.566598e+12,0.178524,1.069894e+13,8.572494e+12,4.939600e+10
2,2024,3,2.286271e+13,-0.206768,8.119414e+12,0.093844,1.011628e+13,8.124709e+12,1.591320e+11
3,2024,2,2.401966e+13,-0.132547,8.579996e+12,-0.045228,1.071824e+13,8.585993e+12,3.227300e+10
4,2024,1,2.509779e+13,-0.017087,9.355026e+12,-0.057739,1.169350e+13,9.360033e+12,5.054800e+10
5,2023,4,2.651241e+13,0.174704,7.268919e+12,0.198528,9.051164e+12,7.274556e+12,1.466030e+11
6,2023,3,2.882221e+13,0.394328,7.422823e+12,0.250275,9.277682e+12,7.427958e+12,2.977500e+10
7,2023,2,2.768987e+13,0.431878,8.986435e+12,0.128639,1.122134e+13,8.991901e+12,3.953000e+10
8,2023,1,2.553409e+13,0.423362,9.928277e+12,0.518134,1.241910e+13,9.933519e+12,3.231300e+10
9,2022,4,2.256943e+13,0.279451,6.064870e+12,0.320135,7.566222e+12,6.069444e+12,1.272640e+11
10,2022,3,2.067104e+13,0.158584,5.936954e+12,0.499191,7.423087e+12,5.941931e+12,2.434500e+10
11,2022,2,1.933814e+13,0.124238,7.962184e+12,0.153509,9.950256e+12,7.967426e+12,2.449500e+10
12,2022,1,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10

In [32]:
vcb_kqkd = get_quarter(vcb_kqkd)
vcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận,Quarter
0,2025,1,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10,Q1 2025
1,2024,4,2.319121e+13,-0.125269,8.566598e+12,0.178524,1.069894e+13,8.572494e+12,4.939600e+10,Q4 2024
2,2024,3,2.286271e+13,-0.206768,8.119414e+12,0.093844,1.011628e+13,8.124709e+12,1.591320e+11,Q3 2024
3,2024,2,2.401966e+13,-0.132547,8.579996e+12,-0.045228,1.071824e+13,8.585993e+12,3.227300e+10,Q2 2024
4,2024,1,2.509779e+13,-0.017087,9.355026e+12,-0.057739,1.169350e+13,9.360033e+12,5.054800e+10,Q1 2024
5,2023,4,2.651241e+13,0.174704,7.268919e+12,0.198528,9.051164e+12,7.274556e+12,1.466030e+11,Q4 2023
6,2023,3,2.882221e+13,0.394328,7.422823e+12,0.250275,9.277682e+12,7.427958e+12,2.977500e+10,Q3 2023
7,2023,2,2.768987e+13,0.431878,8.986435e+12,0.128639,1.122134e+13,8.991901e+12,3.953000e+10,Q2 2023
8,2023,1,2.553409e+13,0.423362,9.928277e+12,0.518134,1.241910e+13,9.933519e+12,3.231300e+10,Q1 2023
9,2022,4,2.256943e+13,0.279451,6.064870e+12,0.320135,7.566222e+12,6.069444e+12,1.272640e+11,Q4 2022
10,2022,3,2.067104e+13,0.158584,5.936954e+12,0.499191,7.423087e+12,5.941931e+12,2.434500e+10,Q3 2022
11,2022,2,1.933814e+13,0.124238,7.962184e+12,0.153509,9.950256e+12,7.967426e+12,2.449500e+10,Q2 2022
12,2022,1,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10,Q1 2022

### Chỉ số tài chính

In [33]:
vcb_cstc = set_time(vcb_cstc)
vcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,VCB,2025,1,0.618781,0.187316,0.0,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
1,VCB,2024,4,0.630934,0.193913,0.0,0.018586,0.0,512519668725400,5589091262,14.803708,2.694830,7.669374,-10.421608,1532.735394,34028.114605
2,VCB,2024,3,0.583807,0.195129,0.0,0.018386,0.0,510842941346800,5589091262,15.329877,2.813058,7.767334,123.346014,1452.725250,32491.336872
3,VCB,2024,2,0.609459,0.199735,0.0,0.018516,0.0,489604394551200,5589091262,15.006220,2.821707,7.363946,-3.257646,1535.132564,31045.041468
4,VCB,2024,1,0.730792,0.219739,0.0,0.018083,0.0,528728033385200,5589091262,16.005957,3.205992,7.807162,-13.718398,1673.800903,29507.243355
5,VCB,2023,4,0.577076,0.226347,0.0,0.018943,0.0,495752394939400,5589091262,14.751702,3.115219,7.039211,6.687242,1300.554716,28473.118534
6,VCB,2023,3,0.529423,0.230197,0.0,0.018477,0.0,480661848532000,5589091262,14.834141,3.164272,6.735315,10.304262,1328.091214,27178.445454
7,VCB,2023,2,0.632716,0.231573,0.0,0.017892,0.0,492181723384000,4732516571,15.919692,3.404580,7.044594,1.981862,1898.870266,30547.090925
8,VCB,2023,1,0.670401,0.244309,0.0,0.018522,0.0,418354464876400,4732516571,13.992249,3.086173,6.144787,2.280837,2097.885311,28643.893786
9,VCB,2022,4,0.443859,0.220298,0.0,0.017240,0.0,406049921791800,4732516571,15.371801,3.165160,6.315958,8.228452,1281.531699,27107.637359
10,VCB,2022,3,0.463926,0.216549,0.0,0.017014,0.0,314712351971500,4732516571,12.616499,2.560887,5.173818,4.265981,1254.502528,25967.563168
11,VCB,2022,2,0.664853,0.207517,0.0,0.016503,0.0,339794689797800,4732516571,14.794486,2.904594,5.882990,-22.191178,1682.441864,24719.462942
12,VCB,2022,1,0.613101,0.215723,0.0,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622

In [34]:
vcb_cstc = get_quarter(vcb_cstc)
vcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),Quarter
0,VCB,2025,1,0.618781,0.187316,0.0,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833,Q1 2025
1,VCB,2024,4,0.630934,0.193913,0.0,0.018586,0.0,512519668725400,5589091262,14.803708,2.694830,7.669374,-10.421608,1532.735394,34028.114605,Q4 2024
2,VCB,2024,3,0.583807,0.195129,0.0,0.018386,0.0,510842941346800,5589091262,15.329877,2.813058,7.767334,123.346014,1452.725250,32491.336872,Q3 2024
3,VCB,2024,2,0.609459,0.199735,0.0,0.018516,0.0,489604394551200,5589091262,15.006220,2.821707,7.363946,-3.257646,1535.132564,31045.041468,Q2 2024
4,VCB,2024,1,0.730792,0.219739,0.0,0.018083,0.0,528728033385200,5589091262,16.005957,3.205992,7.807162,-13.718398,1673.800903,29507.243355,Q1 2024
5,VCB,2023,4,0.577076,0.226347,0.0,0.018943,0.0,495752394939400,5589091262,14.751702,3.115219,7.039211,6.687242,1300.554716,28473.118534,Q4 2023
6,VCB,2023,3,0.529423,0.230197,0.0,0.018477,0.0,480661848532000,5589091262,14.834141,3.164272,6.735315,10.304262,1328.091214,27178.445454,Q3 2023
7,VCB,2023,2,0.632716,0.231573,0.0,0.017892,0.0,492181723384000,4732516571,15.919692,3.404580,7.044594,1.981862,1898.870266,30547.090925,Q2 2023
8,VCB,2023,1,0.670401,0.244309,0.0,0.018522,0.0,418354464876400,4732516571,13.992249,3.086173,6.144787,2.280837,2097.885311,28643.893786,Q1 2023
9,VCB,2022,4,0.443859,0.220298,0.0,0.017240,0.0,406049921791800,4732516571,15.371801,3.165160,6.315958,8.228452,1281.531699,27107.637359,Q4 2022
10,VCB,2022,3,0.463926,0.216549,0.0,0.017014,0.0,314712351971500,4732516571,12.616499,2.560887,5.173818,4.265981,1254.502528,25967.563168,Q3 2022
11,VCB,2022,2,0.664853,0.207517,0.0,0.016503,0.0,339794689797800,4732516571,14.794486,2.904594,5.882990,-22.191178,1682.441864,24719.462942,Q2 2022
12,VCB,2022,1,0.613101,0.215723,0.0,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622,Q1 2022

### Cân đối tài chính

In [35]:
vcb_cdtc = set_time(vcb_cdtc)
vcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2025,1,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
1,2024,4,1932361908000000,1932361908000000,1742064907000000,190297001000000,110763000000
2,2024,3,1905638840000000,1905638840000000,1723936055000000,181702785000000,105738000000
3,2024,2,1773713584000000,1773713584000000,1600099458000000,173614126000000,100556000000
4,2024,1,1839223339000000,1839223339000000,1670680015000000,168543324000000,93990000000
5,2023,4,1731305572000000,1731305572000000,1572062054000000,159243518000000,104660000000
6,2023,3,1704273133000000,1704273133000000,1552272005000000,152001128000000,98316000000
7,2023,2,1846431290000000,1846431290000000,1701772932000000,144658358000000,93744000000
8,2023,1,1814188209000000,1814188209000000,1676199767000000,137988442000000,88379000000
9,2022,4,1649664327000000,1649664327000000,1521274777000000,128389550000000,102207000000
10,2022,3,1601680964000000,1601680964000000,1478691267000000,122989697000000,97774000000
11,2022,2,1462748158000000,1462748158000000,1345670470000000,117077688000000,92420000000
12,2022,1,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000

In [36]:
vcb_cdtc = get_quarter(vcb_cdtc)
vcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ,Quarter
0,2025,1,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000,Q1 2025
1,2024,4,1932361908000000,1932361908000000,1742064907000000,190297001000000,110763000000,Q4 2024
2,2024,3,1905638840000000,1905638840000000,1723936055000000,181702785000000,105738000000,Q3 2024
3,2024,2,1773713584000000,1773713584000000,1600099458000000,173614126000000,100556000000,Q2 2024
4,2024,1,1839223339000000,1839223339000000,1670680015000000,168543324000000,93990000000,Q1 2024
5,2023,4,1731305572000000,1731305572000000,1572062054000000,159243518000000,104660000000,Q4 2023
6,2023,3,1704273133000000,1704273133000000,1552272005000000,152001128000000,98316000000,Q3 2023
7,2023,2,1846431290000000,1846431290000000,1701772932000000,144658358000000,93744000000,Q2 2023
8,2023,1,1814188209000000,1814188209000000,1676199767000000,137988442000000,88379000000,Q1 2023
9,2022,4,1649664327000000,1649664327000000,1521274777000000,128389550000000,102207000000,Q4 2022
10,2022,3,1601680964000000,1601680964000000,1478691267000000,122989697000000,97774000000,Q3 2022
11,2022,2,1462748158000000,1462748158000000,1345670470000000,117077688000000,92420000000,Q2 2022
12,2022,1,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000,Q1 2022

## Trade

In [37]:
vcb_trade["Time"] = convert_str_to_datetime(vcb_trade["Time"])
vcb_trade

          Time   Open   High    Low  Close   Volume
0   2022-01-04  44.74  44.97  44.18  44.74  1133800
1   2022-01-05  44.74  45.54  44.18  44.18  1603100
2   2022-01-06  44.52  45.25  44.12  44.80  1215600
3   2022-01-07  45.08  45.25  44.29  45.20   966200
4   2022-01-10  45.14  45.25  44.46  45.03  1097000
..         ...    ...    ...    ...    ...      ...
801 2025-03-25  66.50  66.60  66.20  66.20  2028100
802 2025-03-26  66.40  66.60  65.80  65.80  1507400
803 2025-03-27  65.80  65.90  65.50  65.50   901500
804 2025-03-28  65.50  65.70  64.80  64.80  1650600
805 2025-03-31  64.70  65.20  64.00  64.00  1771900

[806 rows x 6 columns]

In [38]:
vcb_trade["Quarter"] = vcb_trade["Time"].apply(get_quarter_from_date)
vcb_trade

          Time   Open   High    Low  Close   Volume  Quarter
0   2022-01-04  44.74  44.97  44.18  44.74  1133800  Q1 2022
1   2022-01-05  44.74  45.54  44.18  44.18  1603100  Q1 2022
2   2022-01-06  44.52  45.25  44.12  44.80  1215600  Q1 2022
3   2022-01-07  45.08  45.25  44.29  45.20   966200  Q1 2022
4   2022-01-10  45.14  45.25  44.46  45.03  1097000  Q1 2022
..         ...    ...    ...    ...    ...      ...      ...
801 2025-03-25  66.50  66.60  66.20  66.20  2028100  Q1 2025
802 2025-03-26  66.40  66.60  65.80  65.80  1507400  Q1 2025
803 2025-03-27  65.80  65.90  65.50  65.50   901500  Q1 2025
804 2025-03-28  65.50  65.70  64.80  64.80  1650600  Q1 2025
805 2025-03-31  64.70  65.20  64.00  64.00  1771900  Q1 2025

[806 rows x 7 columns]

In [39]:
vcb_trade["Month"] = vcb_trade["Time"].dt.to_period("M")
vcb_trade

          Time   Open   High    Low  Close   Volume  Quarter    Month
0   2022-01-04  44.74  44.97  44.18  44.74  1133800  Q1 2022  2022-01
1   2022-01-05  44.74  45.54  44.18  44.18  1603100  Q1 2022  2022-01
2   2022-01-06  44.52  45.25  44.12  44.80  1215600  Q1 2022  2022-01
3   2022-01-07  45.08  45.25  44.29  45.20   966200  Q1 2022  2022-01
4   2022-01-10  45.14  45.25  44.46  45.03  1097000  Q1 2022  2022-01
..         ...    ...    ...    ...    ...      ...      ...      ...
801 2025-03-25  66.50  66.60  66.20  66.20  2028100  Q1 2025  2025-03
802 2025-03-26  66.40  66.60  65.80  65.80  1507400  Q1 2025  2025-03
803 2025-03-27  65.80  65.90  65.50  65.50   901500  Q1 2025  2025-03
804 2025-03-28  65.50  65.70  64.80  64.80  1650600  Q1 2025  2025-03
805 2025-03-31  64.70  65.20  64.00  64.00  1771900  Q1 2025  2025-03

[806 rows x 8 columns]

# Merge data

## Data

In [40]:
vcb_dataset = pd.merge(vcb_trade, gdp, left_on="Quarter", right_on="Time", how="outer")
vcb_dataset.drop(columns=["Time_y"], inplace=True)
vcb_dataset.columns = ["Time"] + [column for column in vcb_dataset.columns[1:]]
vcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Month,Previous_GDP
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,Q1 2022,2022-01,1467490
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,Q1 2022,2022-01,1467490
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,Q1 2022,2022-01,1467490
3,2022-01-07,45.08,45.25,44.29,45.20,966200,Q1 2022,2022-01,1467490
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,Q1 2022,2022-01,1467490
...,...,...,...,...,...,...,...,...,...
801,2024-12-25,61.67,62.74,61.67,61.81,1829185,Q4 2024,2024-12,1561963
802,2024-12-26,61.87,62.07,61.54,61.61,2203884,Q4 2024,2024-12,1561963
803,2024-12-27,61.87,62.21,61.67,61.67,1640901,Q4 2024,2024-12,1561963
804,2024-12-30,61.67,61.87,61.54,61.54,1707785,Q4 2024,2024-12,1561963
805,2024-12-31,61.67,61.81,61.00,61.00,2375289,Q4 2024,2024-12,1561963

In [41]:
vcb_dataset = pd.merge(vcb_dataset, cpi, left_on="Month", right_on="Time", how="outer")
vcb_dataset.drop(columns=["Month", "Time_y"], inplace=True)
vcb_dataset.columns = ["Time"] + [column for column in vcb_dataset.columns[1:]]
vcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,Q1 2022,1467490,-0.18
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,Q1 2022,1467490,-0.18
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,Q1 2022,1467490,-0.18
3,2022-01-07,45.08,45.25,44.29,45.20,966200,Q1 2022,1467490,-0.18
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,Q1 2022,1467490,-0.18
...,...,...,...,...,...,...,...,...,...
801,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,1773652,0.34
802,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,1773652,0.34
803,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,1773652,0.34
804,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,1773652,0.34
805,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,1773652,0.34

In [42]:
vcb_dataset = pd.merge(vcb_dataset, vcb_foreign_exchange_rate, left_on="Time", right_on="Date", how="left")
vcb_dataset.drop(columns=["Date"], inplace=True)
vcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,Q1 2022,1467490,-0.18,16093.17,...,192.01,203.26,193.95,16420.90,17121.98,16586.76,603.35,696.19,670.39,22610.0
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,Q1 2022,1467490,-0.18,15975.54,...,191.53,202.75,193.46,16408.76,17109.33,16574.50,605.71,698.91,673.02,22610.0
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,Q1 2022,1467490,-0.18,16050.20,...,189.97,201.10,191.89,16356.86,17055.24,16522.08,604.82,697.88,672.02,22590.0
3,2022-01-07,45.08,45.25,44.29,45.20,966200,Q1 2022,1467490,-0.18,16005.85,...,190.01,201.14,191.93,16333.97,17031.37,16498.96,604.82,697.88,672.02,22590.0
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,Q1 2022,1467490,-0.18,15804.71,...,190.11,201.25,192.03,16270.50,16965.26,16434.85,595.78,687.46,661.98,22540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,1773652,0.34,15720.88,...,165.24,175.75,166.91,18660.45,19492.32,18848.94,667.17,772.76,741.30,25420.0
802,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,1773652,0.34,15693.40,...,164.26,174.70,165.92,18643.73,19474.84,18832.05,665.01,770.26,738.90,25420.0
803,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,1773652,0.34,15753.81,...,164.40,174.85,166.06,18613.95,19443.81,18801.97,663.65,768.69,737.39,25360.0
804,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,1773652,0.34,15731.38,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
805,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,1773652,0.34,15680.21,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0

In [43]:
vcb_dataset = pd.merge(vcb_dataset, vcb_kqkd, on="Quarter", how="left")
vcb_dataset.drop(columns=["Năm", "Kỳ"], inplace=True)
vcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,Q1 2022,1467490,-0.18,16093.17,...,696.19,670.39,22610.0,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,Q1 2022,1467490,-0.18,15975.54,...,698.91,673.02,22610.0,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,Q1 2022,1467490,-0.18,16050.20,...,697.88,672.02,22590.0,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10
3,2022-01-07,45.08,45.25,44.29,45.20,966200,Q1 2022,1467490,-0.18,16005.85,...,697.88,672.02,22590.0,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,Q1 2022,1467490,-0.18,15804.71,...,687.46,661.98,22540.0,1.793928e+13,0.045207,6.539788e+12,0.153907,8.174561e+12,6.545349e+12,3.110700e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,1773652,0.34,15720.88,...,772.76,741.30,25420.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
802,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,1773652,0.34,15693.40,...,770.26,738.90,25420.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
803,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,1773652,0.34,15753.81,...,768.69,737.39,25360.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
804,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,1773652,0.34,15731.38,...,770.05,738.69,25360.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
805,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,1773652,0.34,15680.21,...,771.26,739.85,25370.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10

In [44]:
vcb_dataset = pd.merge(vcb_dataset, vcb_cstc, on="Quarter", how="left")
vcb_dataset.drop(columns=["Năm", "Kỳ", "CP"], inplace=True)
vcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,Q1 2022,1467490,-0.18,16093.17,...,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,Q1 2022,1467490,-0.18,15975.54,...,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,Q1 2022,1467490,-0.18,16050.20,...,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622
3,2022-01-07,45.08,45.25,44.29,45.20,966200,Q1 2022,1467490,-0.18,16005.85,...,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,Q1 2022,1467490,-0.18,15804.71,...,0.015994,0.0,382860590593900,4732516571,17.467214,3.511507,6.749586,-6.989035,1381.883804,23038.541622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,1773652,0.34,15720.88,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
802,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,1773652,0.34,15693.40,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
803,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,1773652,0.34,15753.81,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
804,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,1773652,0.34,15731.38,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
805,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,1773652,0.34,15680.21,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833

In [45]:
vcb_dataset = pd.merge(vcb_dataset, vcb_cdtc, on="Quarter", how="left")
vcb_dataset.drop(columns=["Năm", "Kỳ", "Quarter"], inplace=True)
vcb_dataset

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2022-01-04,44.74,44.97,44.18,44.74,1133800,1467490,-0.18,16093.17,16780.26,...,3.511507,6.749586,-6.989035,1381.883804,23038.541622,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000
1,2022-01-05,44.74,45.54,44.18,44.18,1603100,1467490,-0.18,15975.54,16657.61,...,3.511507,6.749586,-6.989035,1381.883804,23038.541622,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000
2,2022-01-06,44.52,45.25,44.12,44.80,1215600,1467490,-0.18,16050.20,16735.49,...,3.511507,6.749586,-6.989035,1381.883804,23038.541622,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000
3,2022-01-07,45.08,45.25,44.29,45.20,966200,1467490,-0.18,16005.85,16689.24,...,3.511507,6.749586,-6.989035,1381.883804,23038.541622,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000
4,2022-01-10,45.14,45.25,44.46,45.03,1097000,1467490,-0.18,15804.71,16479.58,...,3.511507,6.749586,-6.989035,1381.883804,23038.541622,1414765480000000,1414765480000000,1303594825000000,111170655000000,87113000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,66.50,66.60,66.20,66.20,2028100,1773652,0.34,15720.88,16388.88,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
802,2025-03-26,66.40,66.60,65.80,65.80,1507400,1773652,0.34,15693.40,16360.24,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
803,2025-03-27,65.80,65.90,65.50,65.50,901500,1773652,0.34,15753.81,16423.27,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
804,2025-03-28,65.50,65.70,64.80,64.80,1650600,1773652,0.34,15731.38,16399.89,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
805,2025-03-31,64.70,65.20,64.00,64.00,1771900,1773652,0.34,15680.21,16346.53,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000

## Future data

In [46]:
vcb_future = vcb_trade[vcb_trade["Quarter"] == gdp.iloc[-1, :]["Time"]].iloc[-30:, :].copy()
vcb_future["Previous_GDP"] = gdp.iloc[-1, :]["Previous_GDP"]
vcb_future = vcb_future.reset_index().drop(columns=["index"])
vcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Month,Previous_GDP
0,2025-02-18,61.27,61.54,61.14,61.27,1067903,Q1 2025,2025-02,1773652
1,2025-02-19,61.27,61.34,61.07,61.34,1510842,Q1 2025,2025-02,1773652
2,2025-02-20,61.67,61.74,61.34,61.34,1638352,Q1 2025,2025-02,1773652
3,2025-02-21,61.61,62.27,61.61,62.27,2515484,Q1 2025,2025-02,1773652
4,2025-02-24,62.41,62.54,62.01,62.54,1957924,Q1 2025,2025-02,1773652
5,2025-02-25,62.54,62.61,61.87,61.94,1928951,Q1 2025,2025-02,1773652
6,2025-02-26,61.94,62.14,61.67,61.74,771099,Q1 2025,2025-02,1773652
7,2025-02-27,63.48,63.81,62.88,62.88,5035025,Q1 2025,2025-02,1773652
8,2025-02-28,63.01,63.01,62.41,62.41,2073877,Q1 2025,2025-02,1773652
9,2025-03-03,62.54,62.54,62.21,62.41,1252949,Q1 2025,2025-03,1773652
10,2025-03-04,62.34,62.48,62.01,62.21,2501823,Q1 2025,2025-03,1773652
11,2025-03-05,62.21,62.74,62.21,62.21,1822854,Q1 2025,2025-03,1773652
12,2025-03-06,62.54,63.01,62.34,62.54,2359429,Q1 2025,2025-03,1773652
13,2025-03-07,62.61,63.75,62.54,63.61,4003619,Q1 2025,2025-03,1773652
14,2025-03-10,64.48,65.15,64.28,64.75,4434646,Q1 2025,2025-03,1773652
15,2025-03-11,64.21,64.75,63.95,64.75,3644714,Q1 2025,2025-03,1773652
16,2025-03-12,66.00,68.60,65.60,66.70,7581491,Q1 2025,2025-03,1773652
17,2025-03-13,67.20,67.20,65.20,65.50,4514555,Q1 2025,2025-03,1773652
18,2025-03-14,65.40,66.80,65.40,66.00,4929265,Q1 2025,2025-03,1773652
19,2025-03-17,66.00,67.30,66.00,67.30,4946897,Q1 2025,2025-03,1773652
20,2025-03-18,67.80,67.80,66.80,66.80,3663486,Q1 2025,2025-03,1773652
21,2025-03-19,67.20,67.20,66.50,66.50,3679899,Q1 2025,2025-03,1773652
22,2025-03-20,66.50,67.00,66.20,66.80,1693378,Q1 2025,2025-03,1773652
23,2025-03-21,67.00,67.00,66.00,66.00,1707373,Q1 2025,2025-03,1773652
24,2025-03-24,66.30,66.50,65.50,66.50,1983215,Q1 2025,2025-03,1773652
25,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,2025-03,1773652
26,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,2025-03,1773652
27,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,2025-03,1773652
28,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,2025-03,1773652
29,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,2025-03,1773652

In [47]:
vcb_future = pd.merge(vcb_future, cpi, left_on="Month", right_on="Time", how="inner")
vcb_future.drop(columns=["Month", "Time_y"], inplace=True)
vcb_future.columns = ["Time"] + [column for column in vcb_future.columns[1:]]
vcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI
0,2025-02-18,61.27,61.54,61.14,61.27,1067903,Q1 2025,1773652,0.98
1,2025-02-19,61.27,61.34,61.07,61.34,1510842,Q1 2025,1773652,0.98
2,2025-02-20,61.67,61.74,61.34,61.34,1638352,Q1 2025,1773652,0.98
3,2025-02-21,61.61,62.27,61.61,62.27,2515484,Q1 2025,1773652,0.98
4,2025-02-24,62.41,62.54,62.01,62.54,1957924,Q1 2025,1773652,0.98
5,2025-02-25,62.54,62.61,61.87,61.94,1928951,Q1 2025,1773652,0.98
6,2025-02-26,61.94,62.14,61.67,61.74,771099,Q1 2025,1773652,0.98
7,2025-02-27,63.48,63.81,62.88,62.88,5035025,Q1 2025,1773652,0.98
8,2025-02-28,63.01,63.01,62.41,62.41,2073877,Q1 2025,1773652,0.98
9,2025-03-03,62.54,62.54,62.21,62.41,1252949,Q1 2025,1773652,0.34
10,2025-03-04,62.34,62.48,62.01,62.21,2501823,Q1 2025,1773652,0.34
11,2025-03-05,62.21,62.74,62.21,62.21,1822854,Q1 2025,1773652,0.34
12,2025-03-06,62.54,63.01,62.34,62.54,2359429,Q1 2025,1773652,0.34
13,2025-03-07,62.61,63.75,62.54,63.61,4003619,Q1 2025,1773652,0.34
14,2025-03-10,64.48,65.15,64.28,64.75,4434646,Q1 2025,1773652,0.34
15,2025-03-11,64.21,64.75,63.95,64.75,3644714,Q1 2025,1773652,0.34
16,2025-03-12,66.00,68.60,65.60,66.70,7581491,Q1 2025,1773652,0.34
17,2025-03-13,67.20,67.20,65.20,65.50,4514555,Q1 2025,1773652,0.34
18,2025-03-14,65.40,66.80,65.40,66.00,4929265,Q1 2025,1773652,0.34
19,2025-03-17,66.00,67.30,66.00,67.30,4946897,Q1 2025,1773652,0.34
20,2025-03-18,67.80,67.80,66.80,66.80,3663486,Q1 2025,1773652,0.34
21,2025-03-19,67.20,67.20,66.50,66.50,3679899,Q1 2025,1773652,0.34
22,2025-03-20,66.50,67.00,66.20,66.80,1693378,Q1 2025,1773652,0.34
23,2025-03-21,67.00,67.00,66.00,66.00,1707373,Q1 2025,1773652,0.34
24,2025-03-24,66.30,66.50,65.50,66.50,1983215,Q1 2025,1773652,0.34
25,2025-03-25,66.50,66.60,66.20,66.20,2028100,Q1 2025,1773652,0.34
26,2025-03-26,66.40,66.60,65.80,65.80,1507400,Q1 2025,1773652,0.34
27,2025-03-27,65.80,65.90,65.50,65.50,901500,Q1 2025,1773652,0.34
28,2025-03-28,65.50,65.70,64.80,64.80,1650600,Q1 2025,1773652,0.34
29,2025-03-31,64.70,65.20,64.00,64.00,1771900,Q1 2025,1773652,0.34

In [48]:
vcb_future = pd.merge(vcb_future, vcb_foreign_exchange_rate, left_on="Time", right_on="Date", how="inner")
vcb_future.drop(columns=["Date"], inplace=True)

last_row = vcb_future.iloc[-1]

new_row = {
    "Time": "2025-04-01",
    "Open": np.nan,
    "High": np.nan,
    "Low": np.nan,
    "Close": np.nan,
    "Volume": np.nan,
    "Quarter": last_row["Quarter"],
    "Previous_GDP": last_row["Previous_GDP"],
    "Previous_CPI": last_row["Previous_CPI"]
}

for columns in vcb_foreign_exchange_rate.columns:
    if columns.startswith("Previous_") and columns not in new_row:
        new_row[columns] = vcb_foreign_exchange_rate.iloc[-1][columns]

vcb_future = pd.concat([vcb_future, pd.DataFrame([new_row])], ignore_index=True)
vcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2025-02-18 00:00:00,61.27,61.54,61.14,61.27,1067903.0,Q1 2025,1773652,0.98,15795.14,...,162.07,172.37,163.71,18536.83,19324.68,18724.07,667.39,769.94,741.55,25250.0
1,2025-02-19 00:00:00,61.27,61.34,61.07,61.34,1510842.0,Q1 2025,1773652,0.98,15797.58,...,162.05,172.35,163.68,18526.57,19313.92,18713.71,668.77,771.53,743.08,25310.0
2,2025-02-20 00:00:00,61.67,61.74,61.34,61.34,1638352.0,Q1 2025,1773652,0.98,15795.09,...,162.11,172.41,163.75,18537.62,19325.43,18724.87,670.16,773.13,744.62,25310.0
3,2025-02-21 00:00:00,61.61,62.27,61.61,62.27,2515484.0,Q1 2025,1773652,0.98,15828.65,...,164.20,174.64,165.86,18576.73,19366.20,18764.38,671.02,774.12,745.58,25320.0
4,2025-02-24 00:00:00,62.41,62.54,62.01,62.54,1957924.0,Q1 2025,1773652,0.98,15859.73,...,163.58,173.97,165.23,18584.02,19373.83,18771.74,670.23,773.22,744.70,25290.0
5,2025-02-25 00:00:00,62.54,62.61,61.87,61.94,1928951.0,Q1 2025,1773652,0.98,15818.73,...,164.84,175.32,166.50,18631.06,19422.89,18819.26,671.97,775.22,746.63,25280.0
6,2025-02-26 00:00:00,61.94,62.14,61.67,61.74,771099.0,Q1 2025,1773652,0.98,15749.12,...,164.75,175.22,166.41,18570.49,19359.71,18758.07,669.50,772.37,743.89,25300.0
7,2025-02-27 00:00:00,63.48,63.81,62.88,62.88,5035025.0,Q1 2025,1773652,0.98,15750.24,...,165.07,175.57,166.74,18613.20,19404.20,18801.21,669.69,772.59,744.10,25330.0
8,2025-02-28 00:00:00,63.01,63.01,62.41,62.41,2073877.0,Q1 2025,1773652,0.98,15695.34,...,165.26,175.76,166.93,18594.41,19384.60,18782.24,667.44,769.99,741.60,25350.0
9,2025-03-03 00:00:00,62.54,62.54,62.21,62.41,1252949.0,Q1 2025,1773652,0.34,15472.60,...,163.73,174.14,165.39,18472.69,19257.71,18659.28,660.74,762.26,734.15,25340.0
10,2025-03-04 00:00:00,62.34,62.48,62.01,62.21,2501823.0,Q1 2025,1773652,0.34,15505.40,...,164.59,175.05,166.25,18493.77,19279.63,18680.58,660.10,761.52,733.44,25390.0
11,2025-03-05 00:00:00,62.21,62.74,62.21,62.21,1822854.0,Q1 2025,1773652,0.34,15464.79,...,165.43,175.95,167.10,18543.56,19331.57,18730.87,668.49,771.21,742.77,25360.0
12,2025-03-06 00:00:00,62.54,63.01,62.34,62.54,2359429.0,Q1 2025,1773652,0.34,15591.38,...,164.82,175.30,166.49,18610.46,19401.40,18798.45,670.23,773.22,744.70,25290.0
13,2025-03-07 00:00:00,62.61,63.75,62.54,63.61,4003619.0,Q1 2025,1773652,0.34,15743.00,...,165.82,176.36,167.49,18650.32,19442.98,18838.71,668.91,771.69,743.23,25270.0
14,2025-03-10 00:00:00,64.48,65.15,64.28,64.75,4434646.0,Q1 2025,1773652,0.34,15694.44,...,166.91,177.52,168.60,18696.05,19529.64,18884.89,669.18,775.10,743.53,25300.0
15,2025-03-11 00:00:00,64.21,64.75,63.95,64.75,3644714.0,Q1 2025,1773652,0.34,15720.49,...,167.32,177.95,169.01,18665.45,19497.66,18853.99,666.27,771.73,740.30,25310.0
16,2025-03-12 00:00:00,66.00,68.60,65.60,66.70,7581491.0,Q1 2025,1773652,0.34,15602.80,...,167.10,177.73,168.79,18641.45,19472.65,18829.75,663.79,768.85,737.54,25260.0
17,2025-03-13 00:00:00,67.20,67.20,65.20,65.50,4514555.0,Q1 2025,1773652,0.34,15589.23,...,165.88,176.42,167.55,18604.76,19434.34,18792.68,664.31,769.46,738.12,25250.0
18,2025-03-14 00:00:00,65.40,66.80,65.40,66.00,4929265.0,Q1 2025,1773652,0.34,15641.07,...,166.72,177.32,168.41,18629.81,19460.46,18817.99,666.14,771.58,740.16,25290.0
19,2025-03-17 00:00:00,66.00,67.30,66.00,67.30,4946897.0,Q1 2025,1773652,0.34,15632.13,...,166.21,176.78,167.89,18595.93,19425.04,18783.77,668.71,774.55,743.01,25320.0
20,2025-03-18 00:00:00,67.80,67.80,66.80,66.80,3663486.0,Q1 2025,1773652,0.34,15750.24,...,165.85,176.39,167.52,18659.06,19490.97,18847.54,669.57,775.55,743.97,25330.0
21,2025-03-19 00:00:00,67.20,67.20,66.50,66.50,3679899.0,Q1 2025,1773652,0.34,15883.37,...,164.42,174.88,166.08,18692.42,19525.83,18881.24,670.70,776.86,745.23,25320.0
22,2025-03-20 00:00:00,66.50,67.00,66.20,66.80,1693378.0,Q1 2025,1773652,0.34,15828.61,...,164.94,175.42,166.60,18681.79,19514.70,18870.50,669.83,775.85,744.26,25340.0
23,2025-03-21 00:00:00,67.00,67.00,66.00,66.00,1707373.0,Q1 2025,1773652,0.34,15794.96,...,166.21,176.78,167.89,18700.34,19534.07,18889.24,670.89,777.08,745.44,25350.0
24,2025-03-24 00:00:00,66.30,66.50,65.50,66.50,1983215.0,Q1 2025,1773652,0.34,15680.21,...,165.13,175.63,166.80,18656.11,19487.84,18844.55,667.05,772.62,741.17,25370.0
25,2025-03-25 00:00:00,66.50,66.60,66.20,66.20,2028100.0,Q1 2025,1773652,0.34,15720.88,...,165.24,175.75,166.91,18660.45,19492.32,18848.94,667.17,772.76,741.30,25420.0
26,2025-03-26 00:00:00,66.40,66.60,65.80,65.80,1507400.0,Q1 2025,1773652,0.34,15693.40,...,164.26,174.70,165.92,18643.73,19474.84,18832.05,665.01,770.26,738.90,25420.0
27,2025-03-27 00:00:00,65.80,65.90,65.50,65.50,901500.0,Q1 2025,1773652,0.34,15753.81,...,164.40,174.85,166.06,18613.95,19443.81,18801.97,663.65,768.69,737.39,25360.0
28,2025-03-28 00:00:00,65.50,65.70,64.80,64.80,1650600.0,Q1 2025,1773652,0.34,15731.38,...,164.09,174.52,165.75,18600.05,19429.28,18787.93,664.82,770.05,738.69,25360.0
29,2025-03-31 00:00:00,64.70,65.20,64.00,64.00,1771900.0,Q1 2025,1773652,0.34,15680.21,...,163.30,173.68,164.95,18585.11,19413.67,18772.84,665.87,771.26,739.85,25370.0
30,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15648.02,...,165.86,176.40,167.53,18576.11,19404.30,18763.75,664.95,770.20,738.84,25350.0

In [49]:
vcb_future = pd.merge(vcb_future, vcb_kqkd, on="Quarter", how="left")
vcb_future.drop(columns=["Năm", "Kỳ"], inplace=True)
vcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2025-02-18 00:00:00,61.27,61.54,61.14,61.27,1067903.0,Q1 2025,1773652,0.98,15795.14,...,769.94,741.55,25250.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
1,2025-02-19 00:00:00,61.27,61.34,61.07,61.34,1510842.0,Q1 2025,1773652,0.98,15797.58,...,771.53,743.08,25310.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
2,2025-02-20 00:00:00,61.67,61.74,61.34,61.34,1638352.0,Q1 2025,1773652,0.98,15795.09,...,773.13,744.62,25310.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
3,2025-02-21 00:00:00,61.61,62.27,61.61,62.27,2515484.0,Q1 2025,1773652,0.98,15828.65,...,774.12,745.58,25320.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
4,2025-02-24 00:00:00,62.41,62.54,62.01,62.54,1957924.0,Q1 2025,1773652,0.98,15859.73,...,773.22,744.70,25290.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
5,2025-02-25 00:00:00,62.54,62.61,61.87,61.94,1928951.0,Q1 2025,1773652,0.98,15818.73,...,775.22,746.63,25280.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
6,2025-02-26 00:00:00,61.94,62.14,61.67,61.74,771099.0,Q1 2025,1773652,0.98,15749.12,...,772.37,743.89,25300.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
7,2025-02-27 00:00:00,63.48,63.81,62.88,62.88,5035025.0,Q1 2025,1773652,0.98,15750.24,...,772.59,744.10,25330.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
8,2025-02-28 00:00:00,63.01,63.01,62.41,62.41,2073877.0,Q1 2025,1773652,0.98,15695.34,...,769.99,741.60,25350.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
9,2025-03-03 00:00:00,62.54,62.54,62.21,62.41,1252949.0,Q1 2025,1773652,0.34,15472.60,...,762.26,734.15,25340.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
10,2025-03-04 00:00:00,62.34,62.48,62.01,62.21,2501823.0,Q1 2025,1773652,0.34,15505.40,...,761.52,733.44,25390.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
11,2025-03-05 00:00:00,62.21,62.74,62.21,62.21,1822854.0,Q1 2025,1773652,0.34,15464.79,...,771.21,742.77,25360.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
12,2025-03-06 00:00:00,62.54,63.01,62.34,62.54,2359429.0,Q1 2025,1773652,0.34,15591.38,...,773.22,744.70,25290.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
13,2025-03-07 00:00:00,62.61,63.75,62.54,63.61,4003619.0,Q1 2025,1773652,0.34,15743.00,...,771.69,743.23,25270.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
14,2025-03-10 00:00:00,64.48,65.15,64.28,64.75,4434646.0,Q1 2025,1773652,0.34,15694.44,...,775.10,743.53,25300.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
15,2025-03-11 00:00:00,64.21,64.75,63.95,64.75,3644714.0,Q1 2025,1773652,0.34,15720.49,...,771.73,740.30,25310.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
16,2025-03-12 00:00:00,66.00,68.60,65.60,66.70,7581491.0,Q1 2025,1773652,0.34,15602.80,...,768.85,737.54,25260.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
17,2025-03-13 00:00:00,67.20,67.20,65.20,65.50,4514555.0,Q1 2025,1773652,0.34,15589.23,...,769.46,738.12,25250.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
18,2025-03-14 00:00:00,65.40,66.80,65.40,66.00,4929265.0,Q1 2025,1773652,0.34,15641.07,...,771.58,740.16,25290.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
19,2025-03-17 00:00:00,66.00,67.30,66.00,67.30,4946897.0,Q1 2025,1773652,0.34,15632.13,...,774.55,743.01,25320.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
20,2025-03-18 00:00:00,67.80,67.80,66.80,66.80,3663486.0,Q1 2025,1773652,0.34,15750.24,...,775.55,743.97,25330.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
21,2025-03-19 00:00:00,67.20,67.20,66.50,66.50,3679899.0,Q1 2025,1773652,0.34,15883.37,...,776.86,745.23,25320.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
22,2025-03-20 00:00:00,66.50,67.00,66.20,66.80,1693378.0,Q1 2025,1773652,0.34,15828.61,...,775.85,744.26,25340.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
23,2025-03-21 00:00:00,67.00,67.00,66.00,66.00,1707373.0,Q1 2025,1773652,0.34,15794.96,...,777.08,745.44,25350.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
24,2025-03-24 00:00:00,66.30,66.50,65.50,66.50,1983215.0,Q1 2025,1773652,0.34,15680.21,...,772.62,741.17,25370.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
25,2025-03-25 00:00:00,66.50,66.60,66.20,66.20,2028100.0,Q1 2025,1773652,0.34,15720.88,...,772.76,741.30,25420.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
26,2025-03-26 00:00:00,66.40,66.60,65.80,65.80,1507400.0,Q1 2025,1773652,0.34,15693.40,...,770.26,738.90,25420.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
27,2025-03-27 00:00:00,65.80,65.90,65.50,65.50,901500.0,Q1 2025,1773652,0.34,15753.81,...,768.69,737.39,25360.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
28,2025-03-28 00:00:00,65.50,65.70,64.80,64.80,1650600.0,Q1 2025,1773652,0.34,15731.38,...,770.05,738.69,25360.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
29,2025-03-31 00:00:00,64.70,65.20,64.00,64.00,1771900.0,Q1 2025,1773652,0.34,15680.21,...,771.26,739.85,25370.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10
30,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15648.02,...,770.20,738.84,25350.0,2.358126e+13,-0.060425,8.565378e+12,-0.084409,1.070268e+13,8.569921e+12,6.637800e+10

In [50]:
vcb_future = pd.merge(vcb_future, vcb_cstc, on="Quarter", how="left")
vcb_future.drop(columns=["Năm", "Kỳ", "CP"], inplace=True)
vcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,2025-02-18 00:00:00,61.27,61.54,61.14,61.27,1067903.0,Q1 2025,1773652,0.98,15795.14,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
1,2025-02-19 00:00:00,61.27,61.34,61.07,61.34,1510842.0,Q1 2025,1773652,0.98,15797.58,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
2,2025-02-20 00:00:00,61.67,61.74,61.34,61.34,1638352.0,Q1 2025,1773652,0.98,15795.09,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
3,2025-02-21 00:00:00,61.61,62.27,61.61,62.27,2515484.0,Q1 2025,1773652,0.98,15828.65,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
4,2025-02-24 00:00:00,62.41,62.54,62.01,62.54,1957924.0,Q1 2025,1773652,0.98,15859.73,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
5,2025-02-25 00:00:00,62.54,62.61,61.87,61.94,1928951.0,Q1 2025,1773652,0.98,15818.73,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
6,2025-02-26 00:00:00,61.94,62.14,61.67,61.74,771099.0,Q1 2025,1773652,0.98,15749.12,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
7,2025-02-27 00:00:00,63.48,63.81,62.88,62.88,5035025.0,Q1 2025,1773652,0.98,15750.24,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
8,2025-02-28 00:00:00,63.01,63.01,62.41,62.41,2073877.0,Q1 2025,1773652,0.98,15695.34,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
9,2025-03-03 00:00:00,62.54,62.54,62.21,62.41,1252949.0,Q1 2025,1773652,0.34,15472.60,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
10,2025-03-04 00:00:00,62.34,62.48,62.01,62.21,2501823.0,Q1 2025,1773652,0.34,15505.40,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
11,2025-03-05 00:00:00,62.21,62.74,62.21,62.21,1822854.0,Q1 2025,1773652,0.34,15464.79,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
12,2025-03-06 00:00:00,62.54,63.01,62.34,62.54,2359429.0,Q1 2025,1773652,0.34,15591.38,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
13,2025-03-07 00:00:00,62.61,63.75,62.54,63.61,4003619.0,Q1 2025,1773652,0.34,15743.00,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
14,2025-03-10 00:00:00,64.48,65.15,64.28,64.75,4434646.0,Q1 2025,1773652,0.34,15694.44,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
15,2025-03-11 00:00:00,64.21,64.75,63.95,64.75,3644714.0,Q1 2025,1773652,0.34,15720.49,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
16,2025-03-12 00:00:00,66.00,68.60,65.60,66.70,7581491.0,Q1 2025,1773652,0.34,15602.80,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
17,2025-03-13 00:00:00,67.20,67.20,65.20,65.50,4514555.0,Q1 2025,1773652,0.34,15589.23,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
18,2025-03-14 00:00:00,65.40,66.80,65.40,66.00,4929265.0,Q1 2025,1773652,0.34,15641.07,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
19,2025-03-17 00:00:00,66.00,67.30,66.00,67.30,4946897.0,Q1 2025,1773652,0.34,15632.13,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
20,2025-03-18 00:00:00,67.80,67.80,66.80,66.80,3663486.0,Q1 2025,1773652,0.34,15750.24,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
21,2025-03-19 00:00:00,67.20,67.20,66.50,66.50,3679899.0,Q1 2025,1773652,0.34,15883.37,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
22,2025-03-20 00:00:00,66.50,67.00,66.20,66.80,1693378.0,Q1 2025,1773652,0.34,15828.61,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
23,2025-03-21 00:00:00,67.00,67.00,66.00,66.00,1707373.0,Q1 2025,1773652,0.34,15794.96,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
24,2025-03-24 00:00:00,66.30,66.50,65.50,66.50,1983215.0,Q1 2025,1773652,0.34,15680.21,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
25,2025-03-25 00:00:00,66.50,66.60,66.20,66.20,2028100.0,Q1 2025,1773652,0.34,15720.88,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
26,2025-03-26 00:00:00,66.40,66.60,65.80,65.80,1507400.0,Q1 2025,1773652,0.34,15693.40,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
27,2025-03-27 00:00:00,65.80,65.90,65.50,65.50,901500.0,Q1 2025,1773652,0.34,15753.81,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
28,2025-03-28 00:00:00,65.50,65.70,64.80,64.80,1650600.0,Q1 2025,1773652,0.34,15731.38,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
29,2025-03-31 00:00:00,64.70,65.20,64.00,64.00,1771900.0,Q1 2025,1773652,0.34,15680.21,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833
30,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15648.02,...,0.017237,0.0,501340505640000,8355675094,14.818799,2.556387,7.310462,8.479643,1025.097063,23470.623833

In [51]:
vcb_future = pd.merge(vcb_future, vcb_cdtc, on="Quarter", how="left")
vcb_future.drop(columns=["Năm", "Kỳ", "Quarter"], inplace=True)
vcb_future

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2025-02-18 00:00:00,61.27,61.54,61.14,61.27,1067903.0,1773652,0.98,15795.14,16466.46,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
1,2025-02-19 00:00:00,61.27,61.34,61.07,61.34,1510842.0,1773652,0.98,15797.58,16468.95,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
2,2025-02-20 00:00:00,61.67,61.74,61.34,61.34,1638352.0,1773652,0.98,15795.09,16466.35,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
3,2025-02-21 00:00:00,61.61,62.27,61.61,62.27,2515484.0,1773652,0.98,15828.65,16501.33,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
4,2025-02-24 00:00:00,62.41,62.54,62.01,62.54,1957924.0,1773652,0.98,15859.73,16533.76,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
5,2025-02-25 00:00:00,62.54,62.61,61.87,61.94,1928951.0,1773652,0.98,15818.73,16491.03,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
6,2025-02-26 00:00:00,61.94,62.14,61.67,61.74,771099.0,1773652,0.98,15749.12,16418.45,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
7,2025-02-27 00:00:00,63.48,63.81,62.88,62.88,5035025.0,1773652,0.98,15750.24,16419.58,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
8,2025-02-28 00:00:00,63.01,63.01,62.41,62.41,2073877.0,1773652,0.98,15695.34,16362.32,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
9,2025-03-03 00:00:00,62.54,62.54,62.21,62.41,1252949.0,1773652,0.34,15472.60,16130.13,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
10,2025-03-04 00:00:00,62.34,62.48,62.01,62.21,2501823.0,1773652,0.34,15505.40,16164.27,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
11,2025-03-05 00:00:00,62.21,62.74,62.21,62.21,1822854.0,1773652,0.34,15464.79,16121.97,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
12,2025-03-06 00:00:00,62.54,63.01,62.34,62.54,2359429.0,1773652,0.34,15591.38,16254.01,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
13,2025-03-07 00:00:00,62.61,63.75,62.54,63.61,4003619.0,1773652,0.34,15743.00,16412.09,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
14,2025-03-10 00:00:00,64.48,65.15,64.28,64.75,4434646.0,1773652,0.34,15694.44,16361.44,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
15,2025-03-11 00:00:00,64.21,64.75,63.95,64.75,3644714.0,1773652,0.34,15720.49,16388.58,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
16,2025-03-12 00:00:00,66.00,68.60,65.60,66.70,7581491.0,1773652,0.34,15602.80,16265.95,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
17,2025-03-13 00:00:00,67.20,67.20,65.20,65.50,4514555.0,1773652,0.34,15589.23,16251.81,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
18,2025-03-14 00:00:00,65.40,66.80,65.40,66.00,4929265.0,1773652,0.34,15641.07,16305.81,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
19,2025-03-17 00:00:00,66.00,67.30,66.00,67.30,4946897.0,1773652,0.34,15632.13,16296.45,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
20,2025-03-18 00:00:00,67.80,67.80,66.80,66.80,3663486.0,1773652,0.34,15750.24,16419.58,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
21,2025-03-19 00:00:00,67.20,67.20,66.50,66.50,3679899.0,1773652,0.34,15883.37,16558.38,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
22,2025-03-20 00:00:00,66.50,67.00,66.20,66.80,1693378.0,1773652,0.34,15828.61,16501.27,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
23,2025-03-21 00:00:00,67.00,67.00,66.00,66.00,1707373.0,1773652,0.34,15794.96,16466.18,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
24,2025-03-24 00:00:00,66.30,66.50,65.50,66.50,1983215.0,1773652,0.34,15680.21,16346.53,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
25,2025-03-25 00:00:00,66.50,66.60,66.20,66.20,2028100.0,1773652,0.34,15720.88,16388.88,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
26,2025-03-26 00:00:00,66.40,66.60,65.80,65.80,1507400.0,1773652,0.34,15693.40,16360.24,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
27,2025-03-27 00:00:00,65.80,65.90,65.50,65.50,901500.0,1773652,0.34,15753.81,16423.27,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
28,2025-03-28 00:00:00,65.50,65.70,64.80,64.80,1650600.0,1773652,0.34,15731.38,16399.89,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
29,2025-03-31 00:00:00,64.70,65.20,64.00,64.00,1771900.0,1773652,0.34,15680.21,16346.53,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000
30,2025-04-01,NaN,NaN,NaN,NaN,NaN,1773652,0.34,15648.02,16312.99,...,2.556387,7.310462,8.479643,1025.097063,23470.623833,2085873522000000,2085873522000000,1889664354000000,196209168000000,96261000000

# Overview

In [52]:
vcb_dataset.describe()

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
count,806,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,806.000000,806.000000,806.000000,...,806.000000,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02
mean,2023-08-18 01:23:58.213399552,54.308610,54.833586,53.798983,54.297469,1.302984e+06,1.462671e+06,0.317469,15763.707097,16435.433908,...,2.997312,6.843898,8.756793,1493.482993,28239.378313,1.750733e+15,1.750733e+15,1.598048e+15,1.526844e+14,9.807312e+10
min,2022-01-04 00:00:00,35.680000,36.980000,35.110000,35.110000,2.261020e+05,1.255312e+06,-0.340000,14608.820000,15231.240000,...,2.556387,5.173818,-22.191178,1025.097063,23038.541622,1.414765e+15,1.414765e+15,1.303595e+15,1.111707e+14,8.711300e+10
25%,2022-10-26 06:00:00,47.010000,47.570000,46.455000,47.010000,8.420968e+05,1.376321e+06,0.080000,15404.820000,16066.522500,...,2.813058,6.315958,-6.989035,1300.554716,25967.563168,1.649664e+15,1.649664e+15,1.521275e+15,1.283896e+14,9.374400e+10
50%,2023-08-16 12:00:00,57.190000,57.660000,56.800000,57.195000,1.148679e+06,1.450322e+06,0.290000,15749.790000,16419.270000,...,3.086173,7.039211,2.280837,1452.725250,28473.118534,1.773714e+15,1.773714e+15,1.600099e+15,1.520011e+14,9.777400e+10
75%,2024-06-10 18:00:00,60.870000,61.270000,60.470000,60.870000,1.583418e+06,1.538951e+06,0.450000,16097.315000,16782.922500,...,3.165160,7.363946,8.228452,1673.800903,30547.090925,1.846431e+15,1.846431e+15,1.701773e+15,1.736141e+14,1.022070e+11
max,2025-03-31 00:00:00,67.800000,68.600000,66.800000,67.300000,7.581491e+06,1.773652e+06,1.080000,17005.760000,17731.690000,...,3.511507,7.807162,123.346014,2097.885311,34028.114605,2.085874e+15,2.085874e+15,1.889664e+15,1.962092e+14,1.107630e+11
std,NaN,7.536126,7.465959,7.619016,7.515055,7.125882e+05,1.337556e+05,0.348989,462.111702,481.291284,...,0.289004,0.766016,34.963559,273.809881,3235.584027,1.778482e+14,1.778482e+14,1.540467e+14,2.710968e+13,6.643902e+09

In [53]:
vcb_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Time                                              806 non-null    datetime64[ns]
 1   Open                                              806 non-null    float64
 2   High                                              806 non-null    float64
 3   Low                                               806 non-null    float64
 4   Close                                             806 non-null    float64
 5   Volume                                            806 non-null    int64
 6   Previous_GDP                                      806 non-null    int64
 7   Previous_CPI                                      806 non-null    float64
 8   Previous_AUD_Cash                                 806 non-null    float64
 9   Previous_AUD_Sell                                 806 non-null    float64
 10  Previous_AUD_Transfer                             806 non-null    float64
 11  Previous_CAD_Cash                                 806 non-null    float64
 12  Previous_CAD_Sell                                 806 non-null    float64
 13  Previous_CAD_Transfer                             806 non-null    float64
 14  Previous_CHF_Cash                                 806 non-null    float64
 15  Previous_CHF_Sell                                 806 non-null    float64
 16  Previous_CHF_Transfer                             806 non-null    float64
 17  Previous_EUR_Cash                                 806 non-null    float64
 18  Previous_EUR_Sell                                 806 non-null    float64
 19  Previous_EUR_Transfer                             806 non-null    float64
 20  Previous_GBP_Cash                                 806 non-null    float64
 21  Previous_GBP_Sell                                 806 non-null    float64
 22  Previous_GBP_Transfer                             806 non-null    float64
 23  Previous_JPY_Cash                                 806 non-null    float64
 24  Previous_JPY_Sell                                 806 non-null    float64
 25  Previous_JPY_Transfer                             806 non-null    float64
 26  Previous_SGD_Cash                                 806 non-null    float64
 27  Previous_SGD_Sell                                 806 non-null    float64
 28  Previous_SGD_Transfer                             806 non-null    float64
 29  Previous_THB_Cash                                 806 non-null    float64
 30  Previous_THB_Sell                                 806 non-null    float64
 31  Previous_THB_Transfer                             806 non-null    float64
 32  Previous_USD_Cash                                 806 non-null    float64
 33  Doanh thu (đồng)                                  806 non-null    float64
 34  Tăng trưởng doanh thu (%)                         806 non-null    float64
 35  Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)  806 non-null    float64
 36  Tăng trưởng lợi nhuận (%)                         806 non-null    float64
 37  LN trước thuế                                     806 non-null    float64
 38  Lợi nhuận thuần                                   806 non-null    float64
 39  Cố tức đã nhận                                    806 non-null    float64
 40  Biên lợi nhuận ròng (%)                           806 non-null    float64
 41  ROE (%)                                           806 non-null    float64
 42  ROIC (%)                                          806 non-null    float64
 43  ROA (%)                                           806 non-null    float64
 44  Tỷ suất cổ tức (%)                                806 non-null    float64
 45  Vốn hóa (Tỷ đồng)                                 806 non-null    int64
 46  Số CP lưu hành (Triệu CP)                         806 non-null    int64
 47  P/E                                               806 non-null    float64
 48  P/B                                               806 non-null    float64
 49  P/S                                               806 non-null    float64
 50  P/Cash Flow                                       806 non-null    float64
 51  EPS (VND)                                         806 non-null    float64
 52  BVPS (VND)                                        806 non-null    float64
 53  TỔNG CỘNG TÀI SẢN (đồng)                          806 non-null    int64
 54  TỔNG CỘNG NGUỒN VỐN (đồng)                        806 non-null    int64
 55  NỢ PHẢI TRẢ (đồng)                                806 non-null    int64
 56  VỐN CHỦ SỞ HỮU (đồng)                             806 non-null    int64
 57  LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ                      806 non-null    int64
dtypes: datetime64[ns](1), float64(48), int64(9)
memory usage: 365.3 KB

# Save data

In [54]:
vcb_dataset.to_csv(".\\dataset\\official_dataset\\vcb_dataset.csv", index=False)

In [ ]:
vcb_future.to_csv(".\\dataset\\official_dataset\\future\\vcb_future.csv", index=False)